html,
body {
    padding: 0;
    margin: 0;
    font-family: /*'Anaphora Trial', sans-serif;*/ -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    
    background: "transparent"; /* Firefox */
  }

::-webkit-input-placeholder { 
   
    background: "transparent";
 }
 :-moz-placeholder { 
  
    background: "transparent";
 }
 ::-moz-placeholder { 
    
    background: "transparent";
 }
 :-ms-input-placeholder { 
    background: "transparent"
 }
